name: Ci

on: [push, pull_request]

jobs:
  build-rust:
    name: Build Rust
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'

      - uses: Swatinem/rust-cache@v1

      - name: Build
        run: |
          ./gradlew build

      - uses: actions/upload-artifact@v2
        with:
          name: mod-patching
          path: cli-tool/build/cargo/*/release/mod-patching
